@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: juego-tronos;
  src: url("../fonts/gt.ttf");
}

:root {
  --navbar-size: 50px;
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  /* padding-top: var(--navbar-size); */
}

h1,
h2 {
  font-family: juego-tronos;
  font-variant: small-caps;
  text-align: center;
}

.main {
  max-width: 900px;
  margin: 0 auto;
}

.section {
  padding: 3rem 1rem;
}
