@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "juego-tronos";
  src: url(/CVJonNieve/fonts/gt.ttf);
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.letra-jt {
  font-family: juego-tronos, "Times New Roman", Times, Serif;
}
